<h1><%=@user.first_name%> <%= @user.last_name%></h1>
    <%= @user.username %> <br>
    <%= @user.age %> <br>
    <%= @user.gender %> <br>
    <%= @user.country %> <br>
    <%= @user.occupation %> <br>
