<div class="row">
    <div class="search-header col-lg-12">
      <div class="search-by-category">
        <br>Search by category:
        <% @categories.each do |category| %>
          <span><%= link_to category.name, category_path(category.id) %> | </span>
        <% end %>
      </div>
      <br>
      <div class="search-by-project">
      <%= form_tag("/search", method: :get) do %>
        <%= text_field_tag(:q, "" ,:placeholder => "Search by project") %>
        <%= submit_tag("Search") %>
      <% end %>
      <br>
    </div>
    <div class="left-column col-lg-12">
      <div class="flash">
      <% if flash[:notice] %>
        <%= flash[:notice] %>
      <% end %>
      </div>
      <div class="card-deck">
        <% @projects.each do |project| %>
          <div class="index-info-box col-sm-4">
            <div class="card">
              <div class="card-header">
                <%= project.title %>
              </div>
                <img class="card-img-top" src="<%=project.project_photo%>">
                <div class="card-body">
                  <p class="card-text"><%=project.description[0..100] + "..." unless !project.description %></p>
                  <a href="/projects/<%=project.id%>" class="btn btn-primary">See Project</a>
                </div>
                <footer>$<%= project.funds_acquired %> pledged of $<%= project.funds_needed %> goal</footer>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<% if !flash[:notice] %>
  <footer class="app-footer">
    <div class="row col-lg-12">
      <div class="col-sm-4">
        <div class="footer-about">ABOUT</div>
        <div class="footer-about-list">
          <div>Who are we</div>
          <div>Where are we</div>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="footer-support">SUPPORT</div>
        <div class="footer-support-list">
          <div>Give us money</div>
          <div>Please</div>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="footer-careers">CAREERS</div>
        <div class="footer-careers-list">
          <div>Do we look like we have money to hire people?</div>
          <div>Give us money</div>
        </div>
      </div>

    </div>
  </footer>
<% end %>
