<h1><%= @project.title %></h1>
<h2>By: <%= @project.creator.full_name%></h2>
    Category: <%= @project.category.name %>  <br>
    Description: <%= @project.description %> <br>
    Funds needed: <%= @project.funds_needed %> <br>
    Funds acquired: <%= @project.funds_acquired %> <br>
    Number of backers: <%= @project.number_of_supporters %> <br>
    <img src= "<%=@project.image_url%>" >

<% if logged_in? %>
  <%= form_for @project, url: "/projects/#{@project.id}/support", method: :patch do |f| %>

    Enter how much you'd like to support: <%= f.number_field :funds_acquired %>
    <%= f.submit "Back this project" %>
  <% end %>
<% end %>
<br><br>

<% if @project.creator_id == current_user.id %>
  <%= link_to "Edit Project", edit_project_path %>
<% end %>
<br><br>
  <%= link_to "Main Menu", "/" %>
