<div class="show">
  <div class="row">
    <div class="project-info col-sm-8">
    <h1><%= @project.title %></h1>
    <h5>By: <%= link_to @project.creator.full_name, user_path(@project.creator)%></h5><br>
        Category: <%= @project.category.name %>  <br>
        Description: <%= @project.description %> <br><br>
        <% if @project.funds_acquired >= @project.funds_needed %>
          <div class="goal-reached">GOAL REACHED!!! </div>
          <img src="https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/uh59Wh0/money-bag-usd-sketch-illustration-hand-drawn-animation-transparent_h3kdngey__F0014.png", width= "150", height= "100">
        <% end %>
          <div class="funds">
            $<%= @project.funds_acquired %> pledged of $<%= @project.funds_needed %> goal. <br>
          </div>
        Number of backers: <%= @project.number_of_supporters %>
    </div>
    <div class="project-picture col-sm-4">
      <%= image_tag(@project.project_photo.url, width: "350", height: "275") unless !@project.project_photo.url %>
    </div>
  </div>


  <div class="back-this-project">
  <% if logged_in? %>
    <%= form_for @project, url: "/projects/#{@project.id}/support", method: :patch do |f| %>

      Enter how much you'd like to support: $<%= f.number_field :funds_acquired %>
      <%= f.submit "Back this project" %>
    <% end %>
  <%else %>
  <br><br>
  <div class="support-this-project?">
    Want to support this project?
    <%= link_to "Log in", "/login"%> or
    <%= link_to "Create an account", "/users/new" %>
    <% end %>
  <% if @project.creator_id == current_user.id %>
    <%= form_for @project, url: "/projects/#{@project.id}", method: :delete do |f| %>
       <div class="delete-project-button"><%= f.submit "Delete Project" %></div>
    <%end%><br><br>
    <%= link_to "Edit Project", edit_project_path %>
  <% end %>
  <br>
  <%= link_to "Main Menu", "/" %>
  </div>
  </div>
</div>
